script(type='text/javascript',src='/javascripts/index.js')

div#RealTimeMode
    div#PlayBackControl
        input#UnLike(type='button',value='UnLike')
        input#Like(type='button',value='Like')
        input#Stop(type='button',value='Stop')
        input#Play(type='button',value='Play/Pause')
        input#Next(type='button',value='Next')
        select#RealTimeChannelSelector
    div#currentSong.hidden
        div#CoverInfo
            span#currentSongCover
        div#SongInfo
            span#currentSongTitle
            br
            span#currentSongAlbum
            br
            span#currentSongArtist
    div#ReplayMode
        div.ReplayModeTileGroup
            div.ReplayModeTitle Loved Song
            div.ReplayModeChannelSelector
                select#ReplayChannelSelector
        div.ReplayModeContent
            ul#recordList
    div#jquery_jplayer

        
