!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/javascripts/jQuery/jquery.js')
    script(type='text/javascript',src='/javascripts/jPlayer/jquery.jplayer.min.js')
  body!= body