body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.hidden{
    display:none;
}

#RealTimeMode{
    display:block;
    position:absolute;
    top:0px;
    left:5%;
    width:90%;
}

#recordList{
    text-align:right;
    margin:1em 0;
    padding:0
}

#recordList li {
    display: inline;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 5px;
    width: 96px;
    height: 96px;
}
#currentSong{
    background : gray;
    width: 100%;
    height: 210px;
}
#currentSongTitle {
    font-size: 24px;
}
#currentSongAlbum {
    font-size: 24px;
}
#currentSongArtist {
    font-size: 24px;
}
#PlayBackControl {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    background: yellow;
}

.songCoverImg{
    height: 200px;
    width: 200px;
}
#SongInfo {
    padding-bottom: 10px;
    padding-top: 10px;
    
}
#CoverInfo {
    padding-left: 5px;
    padding-top: 5px;
    float: left;
    width: 210px;
}
#ReplayMode {
    clear:both;
    padding-top: 20px;
    width : 100%;
    height: 100%;
    overflow: auto;
}

.ReplayModeTileGroup {
    padding-top: 0px;
    width : 100%;
    background: white;
}
.ReplayModeTitle {
    width : 50%;
    float: left;
}

.ReplayModeChannelSelector {
    text-align: right;
}
.recordedSongCover {
    width: 96px;
    height: 96px;
}

.ReplayModeContent{
    background: green;
    overflow: Hidden;
}